<section>
    <h1>{{title}}</h1>
    <div>
         {{#if showsResult}}
        <ul>      
            {{#each showsResult}}
            <li>
                 <h2><a href="/shows/{{show.id}}">{{show.name}}</a></h2>
                 <p>{{body}}</p>
            </li>
            {{/each}}
            
        </ul>
            {{else}}
            <p class="not-found">We're sorry, but no results were found for {{searchTerm}}.</p>  
            {{/if}}
    </div>
    
    <div>
        <a href="/"> Make Another Search </a>
    </div>
</section>